/*-- Réinitialisation du navigateur --*/
*{
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
}

html{
  font-family: verdana, arial, sans-serif;
  font-size: 62.5%;  /*62.5% = 10px.*/
  /* En considérent que la taille par défaut de la police dan s le navigateur est de 16px :
  donc si je veux ramener la taille de police à 10px en pourcentage je dois faire ce calcul :
  10px/16px*100 = 62.5%
  A présent, je peux utiliser le paramétre rem = nombreDePixel/10. Exemple :
  16px = 1.6rem */
  /*font-size: 1.6rem;*/
  /*background-color: black;*/
}

body{
  background-color: #f8f9fa;
  /*border: 1px solid blue;
  border-radius: 10px;*/
  font-size: 1.8rem;
}

main{
  /*display: flex;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;*/
}

.bgDark{
  background-color: #343a40;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating i {
  font-size: 24px;
  color: #ffd700; /* Couleur jaune pour les étoiles */
  transition: color 0.3s ease;
  cursor: pointer;
}

.rating i:hover,
.rating i.active {
  color: #ffcc00; /* Couleur jaune clair au survol */
}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 767px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  /*
  html{
      padding: 10px;
      margin: 10px;
  }

  body{
      padding: 10px;
      margin: 10px;
  }
  */
}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 768px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
  /*
  html{
      padding: 0;
      margin: 0;
  }

  body{
      padding: 0;
      margin: 0;
  }
  */
  main{
    flex-direction: column;
  }
  
}

header{
  font-size: 1.6rem;
}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 768px---------------------------*/
/*-----------------------------------------------------------------------*/

section{
  /*border: 1px solid blue;
  border-radius: 10px;
  background-color: #cacaca;*/
  font-size: 1.6rem;
}

article{
  /*border: 1px solid blue;
  border-radius: 10px;*/
  font-size: 1.6rem;
  background-color: #343a40;
  color: white;
  text-align: justify;

  /*padding: 10px;
  margin: 10px;*/
}

aside{
  /*border: 1px solid blue;
  border-radius: 10px;*/
  background-color: #343a40;
  color: white;
  text-align: justify;

  /*padding: 10px;
  margin: 10px;*/
}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS SUPERIEURs A 767px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  
  section{
    /*padding: 10px;
    margin: 10px;*/
  }

  .article__section{
    /*width: 65%;
    height: auto;*/
  }

  .aside__section{
    /*width: 35%;
    height: auto;*/
  }

}

/*-----------------------------------------------------------------------*/
/*--------PARAMETRES ECRANS INFERIEURS A 768px---------------------------*/
/*-----------------------------------------------------------------------*/

@media screen and (max-width: 767px) {
  
  section{
    /*padding: 0;
    margin: 0;*/
  }

  .article__section{
    /*width: 100%;
    height: auto;*/
    /*padding: 0;
    margin: 0;*/
  }

  .aside__section{
    /*width: 100%;
    height: auto;*/
    /*padding: 0;
    margin: 10px 0px 0px 0px;*/
  }

}