.nav-item{
    border-left: 1px solid #cacaca;
    font-size: 1.6rem;
}

.nav-link{
    margin-right: 3px;
    padding: 3px;
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-item:hover{
    background-color: #d4d4d4;
}

.nav-link_{
    background-color: #f8f9fa;
    color: #0d6efd;
    
}

/*.nav-link_:hover{
    background-color: #343a40;
    color: #f8f9fa;
}*/

.Nav_Span1{
    font-size: 1.6rem;
    color:#343a40;
}

.Nav_Span2{
    font-size: 1.4rem;
    color:#0d6efd;
}

.dropdown-item{
    font-size: 1.6rem;
}

@media (max-width: 767.98px) {
    .custom-border-md-bottom {
        font-size: 1.6rem;
        border-bottom: 1px solid #cacaca;
        border-left: 0px;
    }
}
