.section__user{
  width: 100%;
}

[class*="txt__user"]{
    white-space: nowrap;
    background-color: #343a40;
    color: white;
}

.div__page--user{
  width: 100%;
}

.div__article--user{
  display:flex;
  /*width: 100%;*/
  justify-content: space-between;
  flex-wrap: wrap;
}

.article__user{
    max-width: 300px;
    background-color: #6c757d;
}

.img__user{
    height: 100px;
    min-width: 66px;
    max-width: 150px;
    /*margin: 0;*/
    border: 1px solid white;
}

.logo__user{
    width: 66px;
    max-width: 150px;
    /*margin: 0;*/
}

[class*="table__user"]{
  /*margin: 0;
  padding: 0;*/
}

[class*="td__user"]{
  height: auto;
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: #343a40;
}

input[type="text"][class*="user"],
input[type="email"][class*="user"],
input[type="tel"][class*="user"]{
  background-color: #343a40;
  color: white;
  font-size: 1.4rem;
  border: none;
  /*margin: 0;
  padding: 0;*/
}

input[type="tel"][class*="user"], input[type="email"][class*="user"] {
  border: none;
}

input[type="text"][class*="label"] {
  outline: none;
  font-size: 1.4rem;
}

.tdLabel{
  width: 65px;
}

.tdText{
  width: 250px;
}

.td__user--titre{
  /*width: 90px;*/
}

.label__user--id,.label__user--tel,
.label__user--job, .label__user--email,
.label__user--society, .label__user--pseudo,
.td__user--titre, .label__user--firstName,
.label__user--lastName, .label__user--userGroup{
  /*text-align: right;*/
}

.div__user--bt{
  /*margin-top: 20px;
  padding: 0;*/
  text-align: center;
}
.bt__user--edit{
  /*margin: 0;
  padding: 0;*/
  border: none;
  background-color: #0d6efd;
  font-size: 1.6rem;
  color: orange;
  text-decoration: underline;
}

.form-select{
  font-size: 1.6rem;
}