/*-----------------------------------------------------------*/
/*--LES BLOCS------------------------------------------------*/
/*-----------------------------------------------------------*/
.section__userEdit{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__userEdit{
    width: 600px;
}

/*-----------------------------------------------------------*/
/*--LES TABLEAUX---------------------------------------------*/
/*-----------------------------------------------------------*/

[class*="table__userEdit"]{
  width: 100%;
  margin: 0;
  padding: 0;
}

[class*="td__userEdit"]{
  height: auto;
  padding: 0;
  padding-bottom: 5px;
  overflow: hidden;
  border: none;
  background-color: black;
  text-align: right;
}

.td__userEdit--message{
  height: 100%;
  color: red;
  text-align: center;

}

.td__userEdit--titre, .td__userEdit--logo,
.td__userEdit--photo, .td__userEdit--data{
  width: 15%;
  min-width: 90px;
}

.td__userEdit--logo, .td__userEdit--photo{
  text-align: center;
  height: 110px;
}

.td__userEdit--data{
  text-align: center;
  height: 60px;
}

.td__userEdit--state{
  
  white-space: nowrap;
  outline: none;

}

/*-----------------------------------------------------------*/
/*--LES INPUTS------------------------------------------------*/
/*-----------------------------------------------------------*/

input[type="text"][class*="txt__userEdit--date"],
input[type="text"][class*="txt__userEdit--update"]{
  text-align: left;
}

/*input[type="text"][class*="userEdit"]:not([class*="updateBy"]),*/
input[type="email"][class*="userEdit"],
input[type="tel"][class*="userEdit"],
input[type="password"][class*="userEdit"]{
  background-color: rgb(198, 198, 198);
  color: black;
  border: none;
  border-bottom: 3px solid  white;
  border-right: 3px solid  white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

input[type="text"][class*="userEdit"],
input[type="email"][class*="userEdit"],
input[type="tel"][class*="userEdit"],
input[type="password"][class*="userEdit"]{
  font-size: 1.6rem;
}

input[type="text"][class*="label__userEdit"],
input[type="text"][class*="userEdit--id"],
input[type="text"][class*="txt__userEdit--date"],
input[type="text"][class*="txt__userEdit--createdBy"],
input[type="text"][class*="txt__userEdit--update"] {
  outline: none;
  background-color: black;
  color: white;
  text-align: left;
  border: none;
}

input[type="text"][class*="txt__userEdit--lastName"],
input[type="text"][class*="txt__userEdit--firstName"],
input[type="text"][class*="txt__userEdit--pseudo"],
input[type="text"][class*="txt__userEdit--job"],
input[type="text"][class*="txt__userEdit--updateBy"]{
  background-color: rgb(198, 198, 198);
  color: black;
  border: none;
  border-bottom: 3px solid  white;
  border-right: 3px solid  white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

input[type="text"][class*="txt__userEdit--id"]{
  text-align: left;
}

input[list][class*=userEdit]{
  width: 100%;
  background-color: rgba(50, 50, 50);
  color: white;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  border: 1px solid rgb(148, 148, 148);
  border-right: 2px solid rgb(148, 148, 148);
  border-bottom: 2px solid rgb(148, 148, 148);
  border-radius: 5px;
}

/*-----------------------------------------------------------*/
/*--LOGO ET PHOTO--------------------------------------------*/
/*-----------------------------------------------------------*/

.photo__userEdit,.logo__userEdit{
  width: 66px;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo__userEdit{
  border: none;
}

/*-----------------------------------------------------------*/
/*--LES BOUTONS UPDATE ET DELETE-----------------------------*/
/*-----------------------------------------------------------*/

.div__userEdit--bt{
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

[class*="img__userEdit"]{
  width: 30px;
  height: 30px;
}

.img__userEdit--update{
  margin-right: 30px;
}

datalist option{
  font-size: 20px;
}

.link__userEdit--update{
  width: 30px;
  height: 30px;
  background-image: url('../../images/up_60x60.webp');
  background-size: cover; /* ou background-size: contain; selon vos préférences */
  background-repeat: no-repeat;
  border: none; /* Supprimez la bordure par défaut du bouton */
  background-color: transparent;
}

